.border{
    border:2px #d8e0eb solid;
    background-color: #d8e0eb;
    border-radius: 0.25rem;
    margin-left: 3rem;
    margin-right: 1rem;
    min-height: 500px;
}

.cardBorder{
    border:3px #d8e0eb solid;
    border-radius: 0.5rem;
    background-color: #c5d3e6;
}

.titleCard{
    width: 95%;
    height: 50px;
    margin: auto;
    justify-content: space-between;
    align-items: baseline;
    background-color: #c5d3e6;
    border:3px #d8e0eb solid;
    border-radius: 0.5rem;
    flex-direction: row;
    padding-top: 0.5rem;
}

.titleText{
    font-size: 18px;
    width: fit-content;
    text-decoration: none;
    color: #395075;
    padding-right: 0.5rem;
    font-weight: bold;

}

.addNew{
    font-size: 16px;
    font-weight: bold;
    width: fit-content;
    margin: 0.2rem;
    color: #7BA1C7;
    text-decoration: none;
    text-align: right;
}

.addButton{
    width: fit-content;
    height: 28px;
}

.addButtonContentContainer{
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.addButtonContentContainer span{
    margin-right: 5px;
}
.addButtonContentContainer img{
    height: 14px;
}