.border{
    border:2px #d8e0eb solid;
    border-radius: 0.25rem;
    background-color: #d8e0eb;
}

.cardBorder{
    border:3px #d8e0eb solid;
    border-radius: 0.5rem;
    background-color: #c5d3e6;
}

.titleCard{
    width: 95%;
    height: 50px;
    margin: auto;
    justify-content: space-between;
    align-items: baseline;
    background-color: #c5d3e6;
    border:3px #d8e0eb solid;
    border-radius: 0.5rem;
}

.titleText{
    width: fit-content;
    text-decoration: none;
    color: #395075;
    padding-top: 0.55rem;
    font-weight: bold;

}

.addButton{
    width: fit-content;
    height: 28px;
}

.addButtonContentContainer{
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.addButtonContentContainer span{
    margin-right: 5px;
}
.addButtonContentContainer img{
    height: 14px;
}